<style>
	body {
		background-color: black;
		background-image: url("images/tokyo.jpg");
	}
</style>
<div class="jumbotron">
  <h1>Hello Tutors</h1>
		<ul style="text-align: left; font-size: 15px;">
		  <li>「明解」or "Meikai" means clear, or of clear understanding in Japanese</li>
		  <li>This website was built with the Yeoman Angular generator</li>
			<li>For an initial deck, try something like "火 ひ Fire" "水 すい Water" and "木 もく Wood"</li>
			<li>The Javascript feature is an animated Lightbox for the Kanji Flashcards<br>
				You can test the feature by clicking the Start Studying button on the Home page <br>
				The file can be found on the Zone or on the GitHub repo under app/scripts/feature.js </li>
		</ul>
  <a href="https://github.com/efloden/Meikai_WebApp" class="btn btn-default" role="button">
    <span class="glyphicon glyphicon-console" aria-hidden="true"></span> view the code on GitHub
  </a>
</div>
