<style>
	body {
		background-image: url("images/tokyocafe.jpg");
		background-repeat: no-repeat;
	}
</style>

<div id="contact" class="panel" style="padding: 2em; margin-bottom: 42em">
	<h1>Have Questions/Feedback? Contact me </h1>
	<div>
		<p>Want to email me directly?
		<a href="http://www.google.com/recaptcha/mailhide/d?k=01BVT3Sd_oIQdw-ZT2vODuCw==&amp;c=oYTTVYiZWJ4NOin3snEmIyo8CS4LZi-z2JYZil9JVO8=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501BVT3Sd_oIQdw-ZT2vODuCw\75\75\46c\75oYTTVYiZWJ4NOin3snEmIyo8CS4LZi-z2JYZil9JVO8\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">Click to reveal my email address</a>
		</p>
	</div>
	<div ng-controller="ContactCtrl" class="panel-body">
		<form ng-submit="submit(contactform)" name="contactform" method="post" action="" class="form-horizontal" role="form">
			<div class="form-group" ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }">
				<label for="inputName" class="col-lg-2 control-label">Name</label>
				<div class="col-lg-10">
					<input ng-model="formData.inputName" type="text" class="form-control" id="inputName" name="inputName" placeholder="Your Name" required>
				</div>
			</div>
			<div class="form-group" ng-class="{ 'has-error': contactform.inputEmail.$invalid && submitted }">
				<label for="inputEmail" class="col-lg-2 control-label">Email</label>
				<div class="col-lg-10">
					<input ng-model="formData.inputEmail" type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="Your Email" required>
				</div>
			</div>
			<div class="form-group" ng-class="{ 'has-error': contactform.inputSubject.$invalid && submitted }">
				<label for="inputSubject" class="col-lg-2 control-label">Subject</label>
				<div class="col-lg-10">
					<input ng-model="formData.inputSubject" type="text" class="form-control" id="inputSubject" name="inputSubject" placeholder="Subject Message" required>
				</div>
			</div>
			<div class="form-group" ng-class="{ 'has-error': contactform.inputMessage.$invalid && submitted }">
				<label for="inputMessage" class="col-lg-2 control-label">Message</label>
				<div class="col-lg-10">
					<textarea ng-model="formData.inputMessage" class="form-control" rows="4" id="inputMessage" name="inputMessage" placeholder="Your message..." required></textarea>
				</div>
			</div>
			<div class="form-group">
				<div class="col-lg-offset-2 col-lg-10">
					<button type="submit" class="btn btn-default" ng-disabled="submitButtonDisabled">
						Send Message
					</button>
				</div>
			</div>
		</form>
		<p ng-class="result" style="padding: 15px; margin: 0;">{{ resultMessage }}</p>
	</div>
</div>
