<div class="container">
  <h2>My Kanji</h2>
  <!-- Kanji input -->
    <form role="form" ng-submit="addKanji()">
      <div class="row">
        <div class="input-group">
          <div class="row">
            <div class="col-md-4">
              <input type="text" ng-model="kanji" placeholder="Kanji Character" class="form-control">
            </div>
          </div>
          <span class="input-group-btn">
            <input type="submit" class="btn btn-primary" value="Add">
          </span>
        </div>
      </div>
    </form>

  <!-- Kanji List -->
  <div ui-sortable ng-model="kanjis">
    <p class="input-group" ng-repeat="kanji in kanjis" style="padding:5px 10px; cursor: move;">
      <input type="text" ng-model="kanji" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-danger" ng-click="removeKanji($index)" aria-label="Remove">X</button>
      </span>
    </p>
  </div>
</div>
