<style>
  body {
    background-color: black;
    background-image: url("images/tokyostreet.jpg");
  }
</style>
<div class="jumbotron" style="margin-right:-40px">
  <h1>Welcome to the Meikai WebApp</h1>
    <h2>
      <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
        Here's the run-down
    </h2>
    <div >
      <p>
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
          Make your flash cards
      </p>
      <p>
        <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
          Study them!
      </p>

      <a href="#/about" class="btn btn-default" role="button">
        Need Help?
      </a>
       <div id="light" class="white_content">
         <div class="carousel" id="slider" data-interval="false" style="margin-left: 20px;">

             <label class="labelSecurity"><h1>Flash Cards<h1></label><br />

             <div class="carousel-inner">
                 <div class="item" ng-class="{active:!$index}" ng-repeat="(kindex, kanji) in kanjis" style="font-size: 100px;">
                    <div style="margin-left:.8em;">
                       {{ kanji.split(' ')[0]}}
                     <audio id="kanjisound"><source src="とうきょう.mp3" type="audio/mpeg"</source></audio>
                     <a class="glyphicon glyphicon-volume-up" onclick="document.getElementById('kanjisound').play()" style="font-size: 30px;"></a> <br>
                    </div>
                     <a id="selection" class="btn btn-default" role="button" onclick="$('#slider').carousel('next');" ng-click="checkKanji(kindex, lindex)" ng-repeat="(lindex, kanji) in kanjis" >
                       {{ kanji.split(' ')[2] }}
                     </a>
                 </div>
             </div>
             <p> Correct: {{ correct }} Incorrect: {{ incorrect }} Attempts: {{ attempts }}</p>
             <p> Accuracy: {{ correct / attempts * 100 | number }}% </p>

         </div>
        <a class="btn btn-default" href = "javascript:void(0)" onclick = "feature_close()" style="text-align: bottom;">
          Close
        </a>
        <a class="btn btn-default" href = "javascript:void(0)" onclick="$('#slider').carousel('next');" style="text-align: bottom;">
          Next
        </a>
      </div>
       <div id="fade" class="black_overlay"></div>
    </div>
</div>
<div class="panel" style="margin-right:-40px; padding-bottom:30px; text-align: center;">
  <div class="container">
    <h2>Add your Flashcards</h2>
    <a class="btn btn-default" role="button" ng-click="generatejson()">
      Auto Generate
    </a>

    <!-- Kanji input -->
      <form role="form" ng-submit="addKanji()">
        <div class="row">
          <div class="input-group">
              <input type="text" ng-model="kanji" placeholder="Kanji Character, Reading, Meaning" class="form-control">
            <span class="input-group-btn">
              <input type="submit" class="btn btn-primary" value="Add">
            </span>
          </div>
        </div>
      </form>

    <!-- Kanji List -->
    <div ui-sortable ng-model="kanjis">
      <p class="input-group" ng-repeat="kanji in kanjis" style="padding:5px 10px; cursor: move;">
        <input type="text" ng-model="kanji" class="form-control">
        <span class="input-group-btn">
          <button class="btn btn-danger" ng-click="removeKanji($index)" aria-label="Remove">X</button>
        </span>
      </p>
    </div>
    <h2> All done? </h2>
    <a class="btn btn-default btn-block" role="button" onclick="feature()">
      <h4>
        <span class="glyphicon glyphicon-education" aria-hidden="true" style="text-align: left;"></span>
        Start Studying
        <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
      </h4>
    </a>
  </div>
</div>
<script src="scripts/feature.js"></script>
