<style>
  body {
    background-color: black;
    background-image: url("images/tokyodoro.jpg");
  }
  item {
    font-size: 24px;
  }
</style>
<div class="jumbotron">
<p>This is the study view.</p>
  <div class="row" ng-model="kanjis">
      <div class="col-md-4" ng-repeat-start="kanji in kanjis" style="padding:5px 10px;">
        <!-- <input type="text" ng-model="kanji" class="form-control"> -->
        {{ kanji }}
      </div>
      <div class="clearfix" ng-if="$index%3==2"></div>
      <div ng-repeat-end=""></div>
  </div>

  <div class="carousel" id="slider" style="margin-left: 20px;">

      <label class="labelSecurity">Flash Cards</label><br />

      <div class="carousel-inner">
          <div class="item" ng-class="{active:!$index}" ng-repeat="kanji in kanjis" style="font-size: 100px;">
              {{ kanji }}
          </div>
      </div>

      <a id="selection"class="btn btn-default" role="button" ng-repeat="kanji in kanjis" onclick="$('#slider').carousel('next');" >
        {{ kanji }}
      </a>
  </div>
</div>
<script src="scripts/feature.js"></script>
